* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family: "Nasalization", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  transition: background-color 0.3s ease-out;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(9, 9, 15, 0.8);
  color: #c0caf5;
  border-radius: 99px;
  transition: background-color 0.5s;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  padding: 0px 15px;
  min-height: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#custom-notification #mpd {
  padding: 0 5px;
  margin: 0px 10px;
  border-radius: 15px;
}

#network {
  min-width: 190px;
}
#cpu,
#memory,
#disk,
#temperature {
  min-width: 30px;
}

#custom-notification {
  padding: 0px 5px;
  margin: 0;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#tray,
#mpd:hover {
  background: transparent;
}

#workspaces button {
  font-weight: 900;
  color: #c0caf5;
  border: none;
  border-radius: 9999px;
  margin: 0px 3px;
  transition: ease-in, 0.5s;
   min-height: 5px;
  min-width: 8px;
  margin: 5px;
}

#workspaces button.active {
  background: transparent;
  transition: ease-out, 0.5s;
  color: #caecff; 
  background-color: rgba(121, 141, 177, 0.255);
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  box-shadow: none;
}

#custom-arch {
  padding: 0 15px;
  font-size: 18px;
  transition: color 0.5s;
}

#custom-arch:hover {
  color: #1793d1;
}

#custom-music.Playing {
  background: transparent;
  font-weight: bold;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0px 15px;
  border-radius: 12px;
}

#custom-music.Paused,
#custom-music.Stopped {
  background: transparent;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  background: #a1bdce;
  background-color: transparent;
  box-shadow: none;
  min-height: 0px;
  margin-right: 7px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin: -4px;
  min-width: 80px;
  min-height: 10px;
  border-radius: 8px;
  background: #343434;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: #2096c0;
}
