* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.856);
}

button {
    border-radius: 12px;
	text-decoration-color: #FFFFFF;
    color: #f2e7ff;
	border: none;
	background-color: rgba(64, 64, 95, 0.5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 150px 10px;
	font-family: Nasalization;
	font-size: 24px;
	min-width: 240px;
}


button:focus, button:active, button:hover {
	outline-style: none;
	margin: 120px 10px;
		background-size: 30%;

}
button:focus, button:active {
	 border: solid 2px #f2e7ff;

}

#lock {
    background-image: image( url("/home/yucel/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image( url("/home/yucel/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image( url("/home/yucel/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image( url("/home/yucel/.config/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image( url("/home/yucel/.config/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image( url("/home/yucel/.config/wlogout/icons/reboot.png"));
}
